:root {
    --themeColor: #720404;
    --stageColor: #ffffff;
    --offStageColor: #d10330;
    --activeColor: #00f5f5;
    --btnBack: #86858594;
    --btnColor: #fbfbfb;
    --btnShadow: #000000;
    --btnActive: #202020;
    --borderColor: #02b1b1;
    --inputColor: #f6f6f6;
    --inputBack: rgba(76, 82, 85, 0.404);
    --errorColor: #ff5c5c6c;
}
.rootDark {
    --themeColor: #14012d;
    --stageColor: #272627;
    --offStageColor: #d10330;
    --activeColor: #00f5f5;
    --btnBack: #00000094;
    --btnColor: #ffffff;
    --btnShadow: #00000062;
    --btnActive: #424242;
    --borderColor: #02b1b1;
    --inputColor: #eeecec;
    --inputBack: #111111;
    --errorColor: #7202026c;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Roboto,Arial,sans-serif;
}
button {
    position: relative;
    border-radius: 5px;
}
.hidden {
    visibility: hidden;
    position: absolute;
}
.app__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: rgb(255,255,251);
    background: radial-gradient(circle, rgba(255,255,251,1) 0%, rgba(148,187,233,1) 100%);
}
.app__container > * {
    z-index: 1;
}
.app__container::before,
.bg__fog {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    width: 100%;
    height: 200vh;
    background-color: #000000;
    opacity: .3;
}
.bg__fog {
    opacity: .5;
}
.container {
    margin: 0 auto;
    width: 100vw;
    max-width: 1020px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn__container {
    display: flex;
    flex-direction: row;
}
.header {
    padding: 10px 0;
    .btn__container > * {
        height: 44px;
        border-radius: 5px;
        margin: 0 5px;
        cursor: pointer;
    }
    button,
    .mic {
        width: 55px;
        height: 44px;
        padding: 0;
        background-color: var(--btnBack);
        color: var(--btnColor);
        border: none;
        line-height: 30px;
        font-size: 20px;
        cursor: pointer;
    }
    .background__switch {
        font-size: 16px;
        width: 44px;
        background-image: url(../img/refresh.png);
        background-color: transparent;
        background-repeat: no-repeat;
        transition: all .7s;
    }
    .background__switch:hover {
        svg:not(.fa-spin) {
            animation: rotate 6s linear infinite;
        }
    }
    .background__switch .fa-spin {
        animation: rotate .7s linear infinite;
    }
    .lang__switch {
        position: relative;
        background-color: var(--btnBack);
        color: var(--btnColor);
        border-radius: 5px;
        .switch_select {
            position: relative;
            z-index: 1;
            width: 60px;
            height: 44px;
            padding-left: 7px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;
            font-size: 18px;
            color: var(--btnColor);
            cursor: pointer;
            option {
                background-color: var(--btnBack);
                color: var(--btnColor);
            }
            option:checked,
            option:hover { 
                box-shadow: 0 0 10px 100px rgb(4, 30, 39) inset;
            }
        }
        svg {
            position: absolute;
            top: 30%;
            right: 5px;
        }
    }
    button:hover,
    .mic:hover {
        background-color: var(--btnColor);
        color: var(--btnActive);
    }
    .lang__switch:hover,
    .lang__switch:focus,
    .lang__switch:focus-within {
        background-color: var(--btnColor);
        select, svg {
            color: var(--btnActive);
            cursor: pointer;
        }
    }
}
.double-btn__container {
    button {
        margin: 0;
        border-radius: 0;
        opacity: 0.3;
    }
    button:hover {
        opacity: 0.8;
    }
    .active {
        opacity: 1;
    }
}
.double-btn__container button:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.double-btn__container button:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
//
.search__container {
    border-radius: 5px;
    .search__form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    input {
        padding: 0 10px;
        font-size: 16px;
        border: 1px solid var(--btnBack);
        border-right: none;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        color: var(--inputColor);
        background-color: var(--inputBack);
    }
    input::placeholder {
        color: var(--inputColor);
    }
    input:active, input:focus {
        opacity: 1;
        border: 1px solid var(--inputColor);
        border-right: none;
    }
    button[type='submit'] {
        flex: 1 1 30%;
        width: unset;
        margin: 0;
        padding: 0 15px;
        font-size: 18px;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
}
.search__container form .mic {
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .active {
        animation: pulsar 2s linear infinite;
        color: var(--offStageColor);
    }
}
.search__container form .wrong__input {
    border-color: var(--errorColor);
    color: var(--inputColor);
    background-color: var(--errorColor);
}
//
main {
    display: flex;
    justify-content: space-between;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0;
}
.city {
    margin: 0 0 5px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}
.time {
    font-size: 20px;
    line-height: 20px;
}
.weather__box {
    width: 50%;
    background-color: #00000062;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    max-height: 468px;
    img {
        width: 100px;
        height: 100px;
    }
}
.main__weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 45px;
    padding: 5px 10px 30px;
    .during__temps {
        flex: 1 0 100%;
        font-size: 28px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .average_temp {
        font-size: 58px;
        line-height: 40px;
        font-weight: bold;
    }
    .left-box {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 73%;
        flex: 1 0 65%;
        svg {
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
        .night_temp, .day_temp {
            padding: 3px;
        }
    }
    .right-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-start;
        flex: 0 0 40%;
        font-size: 20px;
        .wind-humidity__container {
            margin: 15px 0;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            span {
                margin: 0 0 10px;
            }
        }
        span:last-child {
           // margin: 0 0 0 20px;
        }
    }
    .right-box > span:nth-child(1),
    .right-box > span:nth-child(2) {
        width: 100%;
        font-size: 18px;
        margin: 0 0 10px;
    }
}

.forecast__weather {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.forecast__pin {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3px;
    padding: 7px;
    border-radius: 5px;
    background-color: #0000005d;
    box-shadow: 2px 2px #000;
    color: #ffffff;
    overflow: hidden;
    width: 33%;
    span {
        overflow-wrap: break-word;
    }
    .forecast__line {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;
        svg {
            margin: 0 2px;
        }
        span {
            padding: 3px;
        }
    }
    .forecast__head {
        display: flex;
        flex-direction: column;
        span {
            display: inline-block;
            max-width: 70%;
        }
        .forecast__day {
            margin: 0 0 4px;
        }
        .forecast__desc {
            margin: 0 0 4px 5px;
            font-size: 14px;
        }
        svg {
            position: absolute;
            width: 70px;
            height: 70px;
            right: -10px;
            top: -10px;
        }
    }
}
.forecast__desc {
    height: 42px;
    max-height: 42px;
}
.night_temp, .day_temp {
    display: flex;
    align-items: flex-end;
}
.night_temp:hover {
    color: #fcfdb0;
    border-radius: 5px;
    cursor: pointer;
    svg {
        color: #fff9c3;
    }
}
.day_temp:hover {
    color: #fdd316;
    border-radius: 5px;
    cursor: pointer;
}
.map-side__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -25px;
    right: -25px;
}
.coord__container {
    position: relative;
    bottom: 26px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0 3px;
    background-color: var(--inputBack);
    border-radius: 10px;
    span {
        margin: 0 5px;
        color: #ffffff;
        
    }
}
.mapbox__container {
    position: relative;
    z-index: 1;
    max-width: 328px;
    max-height: 510px;
    mask-image: url(../img/phone-template.png);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    border: 25px solid #000000;
}
.mock {
   position: absolute;
    /*background-image: url(../img/phone-template.png);*/
}
.controls__fullscreen {
    position: absolute;
	bottom: 0;
	right: 40%;
	padding: 10px;
}
.controls__navigation {
    position: absolute;
	top: 10px;
	right: 2px;
    padding: 10px;
}
.controls__geolocate {
    position: absolute;
	top: 10px;
	left: 0;
    padding: 10px;
}
.marker {
    font-size: 50px;
}
.marker_user {
    position: relative;
    font-size: 50px;
    color: #02b1b1;
}
.marker__container.animation_allowed {
    animation: blob2 2s linear infinite;
}
.markerBack,
.markerBack2 {
    font-size: 56px;
    position: absolute;
    left: -2px;
    top: -2px;
}
.markerBack2 {
    font-size: 37px;
    left: 5px;
    top: 5px;
}
.menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    button {
        width: 54px;
        height: 54px;
        padding: 0;
        font-size: 36px;
        border: none;
        cursor: pointer;
        color: #ffffff;
        background-color: #00000041;
        border-radius: 0;
    }
    button:hover {
        color: #000000;
        background-color: #ffffff41;
        border-radius: 1px;
    }
    button:nth-child(n+2) {
        max-height: 0;
        overflow: hidden;
    }
    button:first-child:active {
        font-size: 30px;
    }
}
.menu.opened {
    max-height: unset;
    button {
        position: relative;
    }
    button:first-child {
        transition: all .1s;
        color: #000000;
        background-color: #ffffff8e;
    }
    button:nth-child(n+2) {
        display: block;
        max-height: unset;
    }
    button:nth-child(2) {
        animation: slide-from-top .1s linear 1; 
    }
    button:nth-child(3) {
        animation: slide-from-top .2s linear 1; 
    }
    button:nth-child(4) {
        animation: slide-from-top2 .3s linear 1; 
    }
    button:nth-child(5) {
        animation: slide-from-top2 .4s linear 1; 
    }
}
.animation__switch {
    svg {
        transition: all .7s;
    }
}
.animation__switch:hover {
    svg {
        animation: rotate .7s linear infinite;
    }
}
//
.error__log {
    position: absolute;
    top: 0;
    left: 40%;
    width: 320px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    color: var(--btnColor);
    .error-span {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 10px 12px;
        border-radius: 5px;
        width: 100%;
        height: auto;
        background-color: var(--errorColor);
        font-size: 17px;
        line-height: 21px;
        transition: all .4s;
        cursor: pointer;
        .close__btn {
            position: absolute;
            top: 3px;
            right: 3px;
            font-size: 20px;
        }
    }
    .error-span.anim {
        animation: shake .4s linear 1;
    }
}
//
:focus {
    box-shadow: 0 0 3pt 2pt var(--activeColor);
    outline: var(--btnActive) auto 0;
}
select:focus {
    outline-offset: 0;
    border-radius: 5px !important;
}
.audio__play {
    transition: all .3s;
    svg {
        font-size: 27px;
        vertical-align: -0.225em;
    }
}
button.speaking,
.mic.speaking {  
    background-color: transparent;
    .speaking {
        animation: pulsar 2s linear infinite;
        color: var(--offStageColor);
    }
}
button.speaking:hover {
    background-color: var(--btnActive);
}
//
.tooltip__target-box {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
}
.tooltip1 {
    background-color: var(--btnActive) !important;  
    font-size: 16px !important;
}
.tooltip1.place-top::after {
    border-top-color: var(--btnActive) !important;
    border-top-style: solid !important;
    border-top-width: 6px !important;
}
.tooltip1.place-left::after {
    border-left-color: var(--btnActive) !important;
    border-left-style: solid !important;
    border-left-width: 6px !important;
}
.tooltip1.place-right::after {
    border-right-color: var(--btnActive) !important;
    border-right-style: solid !important;
    border-right-width: 6px !important;
}
.tooltip1.place-bottom::after {
    border-bottom-color: var(--btnActive) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 6px !important;
}
@keyframes shake {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blob2 {
    0% {
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -ms-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -o-transform: translateY(10%);
        transform: translateY(10%);
    }
    50% {
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    75% {
        -ms-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -o-transform: translateY(10%);
        transform: translateY(10%);
    }
    100% {
        -ms-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes slide-from-top {
    from {
        bottom: 10vh;
        background-color: #000000;
    }
    to {
        bottom: 0;
        background-color: #00000041;
    }
}
@keyframes slide-from-top2 {
    from {
        bottom: 10vh;
        background-color: #000000;
    }
    to {
        bottom: 0;
        background-color: #00000041;
    }
}
@keyframes pulsar {
    0% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6);
        transform: scale(1.6);
    }
    50% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    75% {
        -ms-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -webkit-transform: scale(1.6);
        -o-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
